<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Jbh_ConnectAs for Magento.
 *
 * @license MIT (https://raw.github.com/jacquesbh/jbh_connectas/master/LICENSE)
 * @category Jbh
 * @package Jbh_ConnectAs
 * @copyright Copyright (c) 2012 Jacques Bodin-Hullin <jacques@bodin-hullin.net>
 */
-->
<config>
    <modules>
        <Jbh_ConnectAs>
            <version>0.1.0</version>
        </Jbh_ConnectAs>
    </modules>
    <global>
        <helpers>
            <jbh_connectas>
                <class>Jbh_ConnectAs_Helper</class>
            </jbh_connectas>
        </helpers>
        <models>
            <jbh_connectas>
                <class>Jbh_ConnectAs_Model</class>
                <resourceModel>jbh_connectas_resource</resourceModel>
            </jbh_connectas>
            <jbh_connectas_resource>
                <class>Jbh_ConnectAs_Model_Resource</class>
                <entities>
                    <request>
                        <table>jbh_connectas_request</table>
                    </request>
                </entities>
            </jbh_connectas_resource>
        </models>
        <resources>
            <jbh_connectas_setup>
                <setup>
                    <module>Jbh_ConnectAs</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jbh_connectas_setup>
        </resources>
        <blocks>
            <jbh_connectas>
                <class>Jbh_ConnectAs_Block</class>
            </jbh_connectas>
        </blocks>
    </global>
    <admin>
        <routers>
            <jbh_connectas_adminhtml>
                <use>admin</use>
                <args>
                    <module>Jbh_ConnectAs_Adminhtml</module>
                    <frontName>adminhtml_connectas</frontName>
                </args>
            </jbh_connectas_adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_customer_edit>
                <observers>
                    <add_connectas_button>
                        <class>jbh_connectas/observer</class>
                        <method>addOurCoolButton</method>
                    </add_connectas_button>
                </observers>
            </controller_action_layout_render_before_adminhtml_customer_edit>
        </events>
        <translate>
            <modules>
                <connectas>
                    <files>
                        <default>Jbh_ConnectAs.csv</default>
                    </files>
                </connectas>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <jbh_connectas>
                <use>standard</use>
                <args>
                    <module>Jbh_ConnectAs</module>
                    <frontName>connectas</frontName>
                </args>
            </jbh_connectas>
        </routers>
        <events>
            <customer_logout>
                <observers>
                    <remove_connectas_cookie>
                        <class>jbh_connectas/observer</class>
                        <method>removeCookie</method>
                    </remove_connectas_cookie>
                </observers>
            </customer_logout>
        </events>
        <layout>
            <updates>
                <jbh_connectas module="Jbh_ConnectAs">
                    <file>jbh_connectas.xml</file>
                </jbh_connectas>
            </updates>
        </layout>
    </frontend>
</config>